*,
::after ::before {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}


/* .inputCenter {
    text-align: center;
    border: solid black 2px;
    padding: 2rem;
    border-radius: 3rem;
} */


/* 
#taskSection {
    border: black solid 2px;
    border-radius: 3rem;
    border-top: solid 0px black;
    justify-content: center;
    display: flex;
    padding: 2rem;
} */